[Unit]
Description=SlingBox Server Service
After=systemd-hostnamed.service
Wants=systemd-hostnamed.service


[Service]
Type=idle
User=slingbox
WorkingDirectory=/home/slingbox
StandardOutput=append:/tmp/sling.log
StandardError=append:/tmp/sling.log
ExecStart=/usr/bin/env python -u slingbox_server.py 
Restart=always

[Install]
WantedBy=multi-user.target
